<div class="container">

    <div class="row" style="background-color: #005580" block-ui="mainBlock">
        <div class="text-center" style="margin: 40px">
            <button class="btn btn-group" ng-click="blockController.testBlock()">BlockTest</button>
        </div>
    </div>


    <!-- Pagination needs to be done here.-->
    <div class="row">

        <div class="content">
            <h1> Content</h1>
        </div>
        <hr/>
        <pagination ng-change="blockController.pageChanged()" total-items="blockController.paginate.total" max-size="blockController.paginate.pageSize" ng-model="blockController.paginate.currentPage"></pagination>
    </div>

</div>